body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 90px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logo {
    height: 50px; /* Adjust as needed */
    margin-bottom: 15px; /* Spacing below logo */
}

.description-img {
    max-height: 100px; /* Adjust as needed */
    margin: 15px 0; /* Spacing around image */
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px; /* Width for country code */
}

.phone-number {
    width: 200px; /* Width for phone number */
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-top-width: 10px;
}

button:hover {
    background-color: #0056b3;
}

.country-flag {
    position: absolute;
    left: 10px; /* Adjust position */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    height: 20px; /* Adjust height for flag */
    
}
.btn {
    border-top: 10px;
    
}